<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142063010866-n6qe3p3jt2hn4jijdh3i7iik81n583b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142063010866-n6qe3p3jt2hn4jijdh3i7iik81n583b7</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ThTxM7Fkphy-m8eBOfFE2JpzYLnIGEM</string>
	<key>GCM_SENDER_ID</key>
	<string>142063010866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappMessenger</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-messenger-69425</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-messenger-69425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142063010866:ios:7800f723937967d3f4e82b</string>
</dict>
</plist>